<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>stu_CRUD</display-name>
  <servlet>
    <servlet-name>StudentInsert</servlet-name>
    <servlet-class>com.dxf.controllers.StudentInsert</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StuSelect</servlet-name>
    <servlet-class>com.dxf.controllers.StuSelect</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>StuUpdate</servlet-name>
    <servlet-class>com.dxf.controllers.StuUpdate</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>StuDelect</servlet-name>
    <servlet-class>com.dxf.controllers.StuDelect</servlet-class>
  </servlet>






  <servlet-mapping>
    <servlet-name>StudentInsert</servlet-name>
    <url-pattern>/insert.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StuSelect</servlet-name>
    <url-pattern>/select.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StuUpdate</servlet-name>
    <url-pattern>/update.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StuDelect</servlet-name>
    <url-pattern>/delect.do</url-pattern>
  </servlet-mapping>

<filter>
<filter-name>setCharacterEncodingFilter</filter-name>
<filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
<init-param>
<param-name>encoding</param-name>
<param-value>UTF-8</param-value>
</init-param>
</filter>

</web-app>